[Unit]
Description=Daily Huddleston Science housekeeping

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=600
Unit=huddleston-housekeeping.service

[Install]
WantedBy=timers.target
