DJANGO_SETTINGS_MODULE=classroom.production
DJANGO_DEBUG=0
DJANGO_SECRET_KEY=replace-with-a-unique-random-secret-at-least-50-characters
DJANGO_ALLOWED_HOSTS=huddleston.science
DJANGO_STATIC_ROOT=/srv/huddleston/static
DJANGO_HSTS_SECONDS=3600
POSTGRES_DB=huddleston
POSTGRES_USER=huddleston
POSTGRES_PASSWORD=replace-with-a-unique-database-password
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
